
.page_count_container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}
.page_count{
    margin: 0px 10px;
    cursor:pointer;
}
.selected_page {
    font-weight: bold;
    font-size: 14px;
    background-color: #ED5992;
    padding: 7px 14px;
}
.default_page {
    font-size: 14px;
    background-color: #F0F2F5;
    padding: 7px 14px;
}