.registerFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px 90px;
  background-color: rgb(251, 250, 181);
  display: inline-block;
  border-radius: 15px;
}
.Title {
  font-size: 32px;
  font-weight: bold;
  color: #030303;
  padding-bottom: 10px;
}

.inputLogin:focus {
  border: 1px solid rgb(230, 231, 231);
}
.inputLogin:focus::-webkit-input-placeholder {
    color: transparent
}
.inputForm {
  font-size: 18px;
  padding: 5px 2px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  outline: none;
}
.inputForm:focus {
  border: 1px solid rgb(230, 231, 231);
}
.inputForm:focus::-webkit-input-placeholder {
    color: transparent
}
.dataForm {
  padding: 10px 0px;
}
.rememberMeForm {
  padding-top: 15px;
  padding-bottom: 15px;
}
.buttonLogin {
  font-size: 18px;
  padding: 10px 15px;
}